.row_group { 
    padding: 10px;
    border: 2px solid #F9F6E7;
    margin: 0px; 
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    background-color: #F9F6E7;
}
    
.row_group div{width: 100%;}
.row_text {width: 90%;}
