.useroption {margin: -153px auto 0; text-align: center; min-height: 100%; height: 900px;  background-color: #F9F6E7}
.useroptiona {display: inline-block; padding-top: 200px; padding-left: 10px; padding-right: 10px; }  
.useroptionb {padding-left: 30px; padding-right: 30px; background: rgba(255,255,255,0.8);  border-radius: 12px; 
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px; 
  -o-border-radius: 12px; height: 100%; min-width: 350px;  padding-bottom: 20px;}  


.optiona { font-size: 20px; font-weight: bold; color: #B08A50; padding-top: 35px; } 
.abn {border-bottom: 1px solid #B08A50; width: 50%;  display: inline-block; margin-bottom: 20px; min-width: 190px; max-width: 200px}
.aba {text-align: left; margin-top: 50px; font-weight: bold; color: #222222}
.abs {text-align: left; border-bottom: 1px solid #D4D5D4; color: #222222}
.abc {font-size: 15px;  font-weight: bold; padding-bottom: 10px; padding-top: 20px; color: #222222 } 

.asdfd {padding-top: 10px; }   
.ased {background: #B08A50; border: 1px solid #B08A50; width: 51%; height: 40px; color: #FFFFFF;   border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px; margin-left: -12px;}   
.ased:hover {background: #B8935B; border: 1px solid #B08A50; width: 51%; height: 40px; color: #FFFFFF;} 
.aseda {background: #B08A50; border: 1px solid #B08A50; width: 21%; height: 40px; color: #FFFFFF; border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;}
.aseda:hover {background: #B8935B; border: 1px solid #B08A50; width: 21%; height: 40px; color: #FFFFFF;} 
.dfds {border: 1px solid #D4D5D4}
 
 
 .abcc {text-align: center; font: bold;}
 
.pTa {margin-top: 10px;}  
.pTb {margin-top: 10px; }  
.pTc {margin-top: 10px;}  
.pTd {margin-top: 10px;} 
.pTee {margin-top: 10px;} 
 
.name label { width: 100%; height: 100%; padding-top: 10px; padding-bottom: 10px; padding-left: 15px; padding-right: 15px;}  
.name {background-color: #E6CF99;  width: 90px; float: left; color: #4B271A;}
.pTa input { width: 275px; height: 45px; border: 1px solid #D4D5D4} 

 
.nameacw label { width: 100%; height: 100%; padding-top: 10px; padding-bottom: 10px; padding-left: 15px; padding-right: 15px;}  
.nameacw {background-color: #E6CF99;  width: 120px; float: left; color: #4B271A;}
.pTd input { width: 232px; height: 45px; border: 1px solid #D4D5D4} 
 

.nameas label { width: 100%; height: 100%; padding-top: 10px; padding-bottom: 10px; padding-left: 15px; padding-right: 15px;}  
.nameas {background-color: #E6CF99;  width: 90px; float: left; color: #4B271A;}
.pTee input { width: 34.5%; height: 45px; border: 1px solid #D4D5D4} 

.payTypea {text-align:left;  width: 380px; height: 320px;} 
.pTe input {width: 25%;}
 
 
 
 
  
.paa {margin-top: 10px;}  
.pab {margin-top: 10px; }  
.pac {margin-top: 10px;}  
.pad {margin-top: 10px;} 
.paee {margin-top: 10px;} 
.paae {margin-top: 10px;} 
.paeee{margin-top: 10px; } 
 
.nvme label { width: 100%; height: 100%; padding-top: 10px; padding-bottom: 10px; padding-left: 15px; padding-right: 15px;}  
.nvme {background-color: #E6CF99;  width: 30%; float: left; color: #4B271A;}
.nvmea {border: 1px solid #d4d5d4;
    font-size: 13px;
    height: 45px;
    margin-left: 30%;
    padding-top: 12px;
    text-align: left;}
.paa input { width: 70%; height: 45px; border: 1px solid #D4D5D4} 

.nvmee label { width: 100%; height: 100%; padding-top: 10px; padding-bottom: 10px; padding-left: 15px; padding-right: 15px;}  
.nvmee {background-color: #E6CF99;  width: 31%; float: left; color: #4B271A;}
.paae input { width: 32.8%; height: 45px; border: 1px solid #D4D5D4} 


.nameac label { width: 100%; height: 100%; padding-top: 10px; padding-bottom: 10px; padding-left: 15px; padding-right: 15px;}  
.nameac {background-color: #E6CF99;  width: 35%; float: left; color: #4B271A;}
.nameaca { 
    font-size: 13px;
    height: 45px;
    text-align: center;} 
.nameaca input[type=radio] {
    display:inline-block;
    margin:15px 7px 7px;
    padding: 4px 12px;
    background-color: #e7e7e7;
    border-color: #ddd;
}
.pad {border: 1px solid #d4d5d4; 
    font-size: 13px;
    height: 45px;
    text-align: center; }
 
 
.nameac label { width: 100%; height: 100%; padding-top: 10px; padding-bottom: 10px; padding-left: 15px; padding-right: 15px;}  
.nameac {background-color: #E6CF99;  width: 35%; float: left; color: #4B271A;}
.paee input { width: 70.5%; height: 45px; border: 1px solid #D4D5D4} 
 
.nameass label { width: 100%; height: 100%; padding-top: 10px; padding-bottom: 10px; padding-left: 15px; padding-right: 15px;}  
.nameass {background-color: #E6CF99;  width: 37%; float: left; color: #4B271A;}
.paeee input { width: 63%; height: 45px; border: 1px solid #D4D5D4} 


.payTypeb {text-align:left;  width: 100%; height: 420px;}  
.abcq {text-align:  center;}
 
 
 
 
 
.pTq {margin-top: 10px;}  
.pqq {margin-top: 10px; }  
.pqqa {margin-top: 10px;}  
 
.nameq label { width: 100%; height: 100%; padding-top: 10px; padding-bottom: 10px; padding-left: 15px; padding-right: 15px;}  
.nameq {background-color: #E6CF99;  width: 90px; float: left; color: #4B271A;}
.pTq input { width: 275px; height: 45px; border: 1px solid #D4D5D4} 

 
.namqq label { width: 100%; height: 100%; padding-top: 10px; padding-bottom: 10px; padding-left: 15px; padding-right: 15px;}  
.namqq {background-color: #E6CF99;  width: 367px; float: left; color: #4B271A; margin-top: 10px;}
.pqqaa input { width: 32px; height: 45px; border: 1px solid #D4D5D4;  } 

.namqqa label { width: 100%; height: 100%; padding-top: 10px; padding-bottom: 10px; padding-left: 15px; padding-right: 15px; }  
.namqqa {background-color: #E6CF99;  width: 120px; float: left; color: #4B271A; margin-bottom: 10px; }
.pqqa input { width: 247px; height: 45px; border: 1px solid #D4D5D4;  margin-bottom: 10px; } 

.payTypez {text-align:left;  width: 380px; height: 100%;} 
.abcz {text-align: center;}

#selectBox {width: 72.5%;
   background: transparent;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   padding-top:13px;
   border: 1px solid #D4D5D4;
   border-radius: 0;
   height: 45px;
   text-align:center;
   -webkit-appearance: none;
   }
 
 
 
 
 
@media only screen and (max-width: 768px){
	  
.useroption {margin: -53px auto 0; text-align: center; min-height: 100%; height: 100%;  background-color: #F9F6E7; min-width: 330px; padding-bottom: 20px;}
.useroptiona {display: inline-block; padding-top: 90px; padding-left: 10px; padding-right: 10px; }  
.useroptionb {padding-left: 20px; padding-right: 20px; background: rgba(255,255,255,0.8);  border-radius: 12px; 
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  -o-border-radius: 12px; height: 100%; min-width: 340px;  padding-bottom: 20px; }  


.optiona { font-size: 20px; font-weight: bold; color: #B08A50; padding-top: 35px; } 
.abn {border-bottom: 1px solid #B08A50; width: 50%;  display: inline-block; margin-bottom: 20px; min-width: 190px; max-width: 200px}
.aba {text-align: left; margin-top: 20px; font-weight: bold; color: #222222}
.abs {text-align: left; border-bottom: 1px solid #D4D5D4; color: #222222}
.abc {font-size: 15px;  font-weight: bold; padding-bottom: 10px; padding-top: 20px; color: #222222 } 
	
	
	.asdfd {padding-top: 10px; }   
.ased {background: #B08A50; border: 1px solid #B08A50; width: 40%; height: 40px; color: #FFFFFF;   border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px; margin-left: -8px;}   
.ased:hover {background: #B8935B; border: 1px solid #B08A50; width: 40%; height: 40px; color: #FFFFFF;} 
.aseda {background: #B08A50; border: 1px solid #B08A50; width: 23%; height: 40px; color: #FFFFFF; border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;}
.aseda:hover {background: #B8935B; border: 1px solid #B08A50; width: 23%; height: 40px; color: #FFFFFF;} 
.dfds {border: 1px solid #D4D5D4}


.pTa {margin-left: 13px;}  
.pTb {margin-left: 13px; }  
.pTc {margin-left: 13px;}  
.pTd {margin-left: 13px;} 
.pTee {margin-left: 13px;} 


.name label { width: 100%; height: 100%; padding-top: 10px; padding-bottom: 10px; padding-left: 15px; padding-right: 15px;}  
.name {background-color: #E6CF99;  width: 90px; float: left; color: #4B271A;}
.pTa input { width: 64.6%; height: 45px; border: 1px solid #D4D5D4} 

 
.nameac label { width: 100%; height: 100%; padding-top: 10px; padding-bottom: 10px; padding-left: 15px; padding-right: 15px;}  
.nameac {background-color: #E6CF99;  width: 120px; float: left; color: #4B271A;}
.pTd input { width: 54%; height: 45px; border: 1px solid #D4D5D4} 


.nameas label { width: 100%; height: 100%; padding-top: 10px; padding-bottom: 10px; padding-left: 15px; padding-right: 15px;}  
.nameas {background-color: #E6CF99;  width: 34%; float: left; color: #4B271A;}
.pTee input { width: 29.3%; height: 45px; border: 1px solid #D4D5D4} 
	
.payTypea {text-align:left; width: 95%; height: 310px;} 

 
 
 
 .payTypeb {height: 100%;}
 
 

 
 
.nvme label { width: 100%; height: 100%; padding-top: 10px; padding-bottom: 10px; padding-left: 15px; padding-right: 15px;}  
.nvme {background-color: #E6CF99;  width: 30%; float: left; color: #4B271A;}
.paa input { width: 70%; height: 45px; border: 1px solid #D4D5D4} 

.nvmee label { width: 100%; height: 100%; padding-top: 10px; padding-bottom: 10px; padding-left: 15px; padding-right: 15px;}  
.nvmee {background-color: #E6CF99;  width: 26%; float: left; color: #4B271A; min-width: 105px;}
.paae input { width: 30.3%; height: 45px; border: 1px solid #D4D5D4} 


.nameacw label { width: 100%; height: 100%; padding-top: 10px; padding-bottom: 10px; padding-left: 15px; padding-right: 15px;}  
.nameacw {background-color: #E6CF99;  width: 35%; float: left; color: #4B271A;}
.nameaca { height: 45px;
    margin-left: -35px;  } 
.nameaca input {padding-left: 2px;} 
.pad {width: 100%; height: 45px;} 
 
  
.nameacw label { width: 100%; height: 100%; padding-top: 10px; padding-bottom: 10px; padding-left: 15px; padding-right: 15px;}  
.nameacw {background-color: #E6CF99;  width: 35%; float: left; color: #4B271A; }
.paee input { width: 65%; height: 45px; border: 1px solid #D4D5D4}
.paee {width: 100%; height: 45px;} 
 
.nameass label { width: 100%; height: 100%; padding-top: 10px; padding-bottom: 10px; padding-left: 15px; padding-right: 15px;}  
.nameass {background-color: #E6CF99;  width: 45%; float: left; color: #4B271A;}
.paeee input { width: 55%; height: 45px; border: 1px solid #D4D5D4} 


.payTypeb {text-align:left;  width: 100%; height: 420px;}  
 
 
 
 
 
 
 
.pTq {margin-top: 10px;}  
.pqq {margin-top: 10px; }  
.pqqa {margin-top: 10px;}  
 
.nameq label { width: 100%; height: 100%; padding-top: 10px; padding-bottom: 10px; padding-left: 15px; padding-right: 15px;}  
.nameq {background-color: #E6CF99;  width: 90px; float: left; color: #4B271A;}
.pTq input { width: 70%; height: 45px; border: 1px solid #D4D5D4} 

 
.namqq label { width: 100%; height: 100%; padding-top: 10px; padding-bottom: 10px; padding-left: 15px; padding-right: 15px;}  
.namqq {background-color: #E6CF99;  width: 99%; float: left; color: #4B271A; margin-top: 10px;}
.pqqaa input { width: 32px; height: 45px; border: 1px solid #D4D5D4;  } 

.namqqa label { width: 100%; height: 100%; padding-top: 10px; padding-bottom: 10px; padding-left: 15px; padding-right: 15px; }  
.namqqa {background-color: #E6CF99;  width: 120px; float: left; color: #4B271A; margin-bottom: 10px; }
.pqqa input { width: 59.5%; height: 45px; border: 1px solid #D4D5D4;  margin-bottom: 10px; } 

.payTypez {text-align:left;  width: 100%; height: 100%;} 
.abcz {text-align: center;}

#selectBox {width: 70%;
   background: transparent;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   padding-top:13px;
   border: 1px solid #D4D5D4;
   border-radius: 0;
   height: 45px;
   text-align:center;
   -webkit-appearance: none;
   }
 
 
	
	}
