.useroption {margin: -153px auto 0; text-align: center; min-height: 100%; height: 900px;  background-color: #F9F6E7}
.useroptiona {display: inline-block; padding-top: 200px; padding-left: 10px; padding-right: 10px; }  
.useroptionb {padding-left: 30px; padding-right: 30px;  background-color: #F9F6E7;  border-radius: 12px; 
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px; 
  -o-border-radius: 12px; height: 100%; min-width: 350px;  padding-bottom: 20px;}  

.optiona { font-size: 20px; font-weight: bold; color: #B08A50; padding-top: 35px; } 
.abn {border-bottom: 3px solid #b08a50;
    display: inline-block;
    margin-bottom: 14px;
    min-width: 138px;}

.user {margin-top: 42px;}
.allservice {margin-top: 16px;} 
.menu {margin-top: 53px; margin-left: 20px}   
 

.ased {float: left;  background: #B08A50; border: 1px solid #B08A50; width: 58px; height: 58px; color: #FFFFFF;  border-radius: 34px;
  -moz-border-radius: 34px;
  -webkit-border-radius: 34px;
  -o-border-radius: 34px; margin-right: 30px; padding-top: 18px;}
.ased:hover {background: #B8935B; border: 1px solid #B08A50;  width: 58px; height: 58px;  color: #FFFFFF; border-radius: 34px;
  -moz-border-radius: 34px;
  -webkit-border-radius: 34px;
  -o-border-radius: 34px;}   