
.useroption {margin: -55px auto 0; text-align: center; min-height: 100%; height: 100%;  background-color: #F9F6E7; padding-bottom: 22.5%;}
.useroptiona {display: inline-block; padding-top: 110px; padding-left: 10px; padding-right: 10px; }  
.useroptionb {padding-left: 30px; padding-right: 30px; background-color: #F9F6E7;  border-radius: 12px; 
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  -o-border-radius: 12px; height: 100%; min-width: 100%; padding-bottom: 20px;}

 
.optiona { font-size: 20px; font-weight: bold; color: #B08A50; padding-top: 35px; } 
.abn {border-bottom: 3px solid #b08a50;
    display: inline-block;
    margin-bottom: 14px;
    min-width: 102px;}
.aba {text-align: left; margin-top: 50px; font-weight: bold; color: #222222} 


.ddd {margin-top: -30px}
.ased {margin-top: 5px}  
.test{margin-top: 5px; width: 100%}  
.testt {margin-top: 5px} 
.test input { width: 100%; height: 45px; border: 1px solid #D4D5D4} 
#cstPassword { width: 100%; height: 45px; border: 1px solid #D4D5D4}  

.ased {background: #B08A50; border: 1px solid #B08A50; width: 100%; height: 40px; color: #FFFFFF;  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;}  
.ased:hover {background: #B8935B; border: 1px solid #B08A50; width: 100%; height: 40px; color: #FFFFFF;}  