@media only screen and (min-width : 800px) {
	/* 데스크탑 브라우저 */
nav.map {text-align: right; color: #111;margin-right: 10px;}
nav.map a {color: #111;}
div.joinList {border: 1px solid #999;width: 480px;margin: auto;}
div.joinList div:first-child {border-bottom: 1px solid #999;padding: 15px;position: relative;}
div.joinList div {padding: 7px 10px;position: relative;}
div.joinList div ul {list-style: none;border: 1px solid #999;height: 70px;overflow-x: hidden;padding: 5px;}
div.joinList div label {width:430px;}
div.joinList div:first-child label input {top:50%;}
div.joinList div label input {height: 22px;margin-top: -11px;position: absolute;right: 10px;top: 16px;width: 22px;}
div.checkbox_valid {display: none;text-align: center;color: #f00;font-weight: bold;margin-top: -15px;}
img.logo {display: block;margin: auto;}
div.btn_area {text-align: center; width: 480px;margin: auto;}
div.btn_area input {box-sizing: border-box;width: 50%;float: left;height: 40px;font-weight: bold;margin-top: 10px;border: 1px solid #999;}

input.btn_agree {background-color: #999;color:#fff;}
input.btn_cancel {background-color: #fff;color: #999;}

footer {padding-top: 100px;}

}

@media only screen and (min-width : 321px) {
	/* 스마트폰 */
}